{% extends 'layout.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en-GB">


<!--
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}"> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <title>A Cool Name for a To Do List App</title>
</head>
  
  -->


<body>

  <main>
    <h1>Tasks</h1>
    
    <div>Add a new task:
    
      <form action="/add" method="POST">
      <input type="text" name="a-task">
      
      
      <input type="submit">
      
    </form>
    </div>
    
    <div>
      <ul>
      
    <!--  {{api_results}} ADD AN IF STTAMENT SO IF NO RESULTS THERE@S A MESSAGE ON PAGE-->
        {% for task in api_results %}
          <li><input type="checkbox">{{task}}</li>
        {% endfor %}
        
      </ul>
    </div>
  </main>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="static/js/engine.js"></script>
  
</body>

<!--

<form action="{{url_for('tasks') }}">

  Task Name:<br>
  <input type="text" name="title"><br>
  
  Description:<br>
  <input type="text" name="desc"><br>
    
  Due Date:<br>
  <input type="text" name="due_date"><br>
  
  Priority:<br>
  <input type="radio" name="imp" value="important">Important<br>
  
  <input type="submit" value="Create Task">
  
</form>
  
-->


{% endblock %}