
h1 {
  font-size: 40px;
  font-family: helvetica;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.main p {
  font-family: 'helvetica';
  font-size: 14px;
  text-align: center;
}

#add_new_task {
    text-align: center;
}


/*styling for cards*/

#imp {
    background-color: #f7d4d4;
}

.card {
width: 23%;
}

h5 span {
    display: block;
}

#desc {
font-style: italic;
padding-above: 20px;
}

img {
    max-width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-body {
    padding: 10px;
}

#cards {
    padding-bottom: 50px;
}

#delete_button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  }
  
#update_button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

/*
#delete_button {
  background-color: #f24646;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#update_button {
  background-color: #a9d7f9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

*/