{% extends 'layout.html' %}
{% block content %}

<body>
  <main>
    <h1>Tasks</h1>
    
    
    <div id="add_new_task">
      <a href="{{ url_for('add_task') }}"><h3>ADD NEW TASK</h3></a>
    </div>
    
    <div class="container" id="task_cards">
        <div class="row d-flex justify-content-start">
    
    {% if result|length == 0 %}
            <p id="headline">You have nothing to do.</p>  
    {% endif %}
    
    {% for task in result %}

    <div class="card mt-4 mr-1 ml-1" {% if task[6] == "1" %} id="imp"  {% endif %} >
      <div class="card-body">
        <h5 class="card-title">{{task[1]}}</h5>
        <p class="card-text">Description: {{task[2]}}</p>
        <p class="card-text">Status: {{task[3]}}</p>
        <p class="card-text">Date Due: {{task[4][8:10]}} / {{task[4][5:7]}} / {{task[4][0:4]}} </p>     
      </div>
      
        <form action="/delete/{{task[0]}}" method="POST">
        <input type = "submit" value="Delete" id="delete"></input>
        </form>
        
        <form action="/update/{{task[0]}}" method="GET">
        <input type = "submit" value="Update" id="update"></input>
        </form>
        
    </div>
    
    {% endfor %}
    
  </div>
</div>  
</main> 
</body>


{% endblock %}