{% extends 'layout.html' %}
{% block content %}

<body>

  <main>
    <h1>Tasks</h1>
    
      <ul>
      
    <!--  {{api_results}} ADD AN IF STTAMENT SO IF NO RESULTS THERE@S A MESSAGE ON PAGE-->
        {% for task in result %}
          <li><input type="checkbox">{{task}}</li>
        {% endfor %}
        
      </ul>
    </div>
  </main>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="static/js/engine.js"></script>
  
</body>


{% endblock %}