{% extends 'layout.html' %}
{% block content %}

<head>


</head>

<body>
<main>

<h1>Update Task</h1>
    
<div><h2>Update Task {{ }}</h2>


{{item}}
    
  <form action="/update/{{   }}" method="POST">
    
  <p>Task Name<input type="text" name="title" value="{{ }}"></p>
    
  <p>Description<input type="text" name="desc" value="{{ }}"></p>

  

  
  <p>Due Date<input type="date" name="date_due" value="{{ }}"></p>

  <p>Important<input type="radio" name="imp" value="{{ }}"></p>
      
  <p><input type="submit" value="Update Task"></p>
      
  </form>
    
    </div>
  </main>
    


</body>

{% endblock %}




        <form action="/update/{{task[0]}}" method="POST">
        <input type = "submit" value="Submit Changes" id="update"></input>
        </form>
